include *.rst *.txt *.md LICENSE
recursive-include pydevd_attach_to_process *.py *.so *.txt
recursive-include pydevd_attach_to_process/common *.py *.so *.txt
recursive-include pydevd_attach_to_process/linux_and_mac *.py *.so *.txt
recursive-include pydevd_attach_to_process/winappdbg *.py *.so *.txt
recursive-include pydevd_attach_to_process/windows *.py *.so *.txt
recursive-include build_tools *.py
