Source: pydevd
Section: python
Priority: optional
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Uploaders: William Grzybowski <william@grzy.org>
Build-Depends: cython3,
               debhelper-compat (= 12),
               dh-python,
               libc6-dev-i386,
               g++-multilib,
               python3-all-dev,
               python3-setuptools,
# test
               python3-pytest,
               python3-psutil
Standards-Version: 4.4.1
Homepage: https://github.com/fabioz/PyDev.Debugger/
Vcs-Browser: https://salsa.debian.org/python-team/modules/pydevd
Vcs-Git: https://salsa.debian.org/python-team/modules/pydevd.git
Testsuite: autopkgtest-pkg-python

Package: pydevd
Architecture: all
Depends: python3-pydevd (>= ${binary:Version}), ${misc:Depends}, ${python3:Depends}
Section: utils
Description: Script to start pydevd debugger
 This script is meant to run pydevd on top of another Python script,
 making it ready to be attached for remote debugging, connecting from
 an IDE, such as PyDev or PyCharm).

Package: python3-pydevd
Architecture: amd64 i386
Depends: ${misc:Depends}, ${python3:Depends}, ${shlibs:Depends}
Suggests: pydevd
Description: Debugger used in PyDev, PyCharm and VSCode Python
 In general, the debugger backend should NOT be installed separately if
 you're using an IDE which already bundles it (such as PyDev or PyCharm).
 .
 It is however available so that it can be installed for doing remote
 debugging, connecting from an IDE.
